.container {
    position:relative;
    text-align: center;
    background: pink;
    /*margin: 10% 10%;*/
}

button {
    color: deeppink;
}

header {
    text-align: center;
    background: gray;
}

form  {
    position: absolute;
}