/* The animation code that changes color from light pink to deep pink */
@keyframes example {
    from {background-color: pink;}
    to {background-color: deeppink;}
}

/* The element to apply the animation to */
div {

    background-color: pink;
    animation-name: example;
    animation-duration: 20s;
}
/*background color set*/
body {
    background: gray;
}
/*colored button font*/
button {
    color: deeppink;
}

/*Extra Large heading*/
h4 {
    font-size: x-large;
}