.container
{
    position: relative;
    display: grid;
    border: 1px solid red;

}

.button list
{
    position: absolute;

}

body {
    background: lightpink;

}

button  {
    color: white;
    background: black;
}

footer {
    text-align: center;
}