.container
{
    position: relative;
    text-align: center;
    /*display: grid;*/
    /*border: 1px solid red;*/

}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 1px;
    left: 1px;

}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;

}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    color: yellow;
    font-size: xx-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    color: deeppink;
    /*background: deeppink;*/
}


footer {
    text-align: center;
    font-weight: bold;
}