/*created to style and position*/
.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}
/*background color*/
body {
    background: pink;
}
/*button font color*/
button {
    color: deeppink;
}

/*created classes one, two, three and four to position and style*/
.one {
    grid-column: 1;
    grid-row: 1;
    border: 3px solid black;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 520px;
    margin-top: auto;
    margin-bottom: 20px;
}
/*Adjusts size of picture*/
img {
    width: 520px;
    height: 340px;
    background-color: grey;
}
/*lines up text (caption) under picture*/
.caption {
    margin-top: 20px;
    display: inline-block;
}

.two {
    grid-column: 2;
    grid-row: 1;
    border: 3px solid black;
    margin: 20px;

}

.three
{
    grid-column: 1;
    grid-row: 2;
    border: 3px solid black;
}

.four {
    grid-column: 2;
    grid-row: 2;
    border: 3px solid black;

}