.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    /*border: 1px solid blue;*/
    grid-auto-rows: minmax(100px, auto);
}


/*1st highlighted project*/
.one {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid blue;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 520px;
}
/*Adjusts size of picture*/
img {
    width: 520px;
    height: 340px;
    background-color: grey;
}
/*lines up text (caption) under picture*/
.caption {
    display: inline-block;
}

.two {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid blue;
}

.three
{
    grid-column: 1;
    grid-row: 2;
    border: 1px solid blue;
}

.four {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid blue;

}