.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    /*border: 1px solid blue;*/
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid blue;

}

.two {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid blue;
}

.three
{
    grid-column: 1;
    grid-row: 2;
    border: 1px solid blue;
}

.four {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid blue;

}