/*container for styling*/
.container {
    font-size: xx-large;
    background: pink;
    border: 1px solid black;
    margin: 5% 5%;
    padding: 10px;
}

/*put buttons in the center*/
header {
    font-size: xx-large;
    text-align: center;


}
/*button font color*/
button {
    color: deeppink;
    /*background: black;*/
}
/*set background color*/
body {
    background: gray;
}