.container {
    background: pink;
    border: 1px solid black;
    margin: 5% 5%;
    padding: 10px;
}

h1 {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

div {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;

}

header {
    text-align: center;


}

button {
    color: deeppink;
    background: black;
}