/*colored background*/
body {
    background: gray;
    font-size: large;
    text-align: center;
}
header {
    font-size: xx-large;
}
/*set grid area*/
.container
{
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    background: pink;
    grid-template-areas:
            "header" "header"
            "aside"  "aside" "article" "article" "article"
            "aside" "aside" "article" "article" "article"
            "aside"  "aside" "article" "article" "article"
            "aside"  "aside""article" "article" "article"
            "aside" "aside" "article" "article" "article"
            "aside" "aside" "article" "article" "article";
}
/*created to put headings on top of columns*/
.top {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: center;
}
/*grid positioning*/
#1st {
    grid-column: 1;
    grid-row: 1;

}
/*grid positioning*/
#2nd {
    grid-column: 2;
    grid-row: 1;

}
/*stylrd grid area*/
.col {
    display: grid;
    border: 1px solid black;

    grid-template-columns: 1fr 3fr;

}
/*style grid area*/
aside {

    grid-area: sidebar;
    grid-column: 1;
    grid-row: 2 / 4;
    border: 1px solid black;
    grid-template-columns: 2fr 3fr;

}

/*style grid area*/
article {

    grid-area: content;
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;

}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */

}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */

}


/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px){
    .col {
        display: block;
        width: 100%;
    }
}
/*button font*/
button {
    color: deeppink;
}

.box {
    display: table;
}

/*making grid areas act like rows in order to size*/
#row1, #row2, #row3, #row4, #row5, #row6  {
    display: table-row;
    height: 150px;

}
/*making grid areas act like rows in order to size*/
#row1b, #row2b, #row3b, #row4b, #row5b, #row6b  {
    display: table-row;
    height: 150px;

}